<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
    <meta name="description" content="View your personal TF2 stats">
    <title>TF2 Stats</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" type="image/png" href="/icon.png" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
</head>

<body>
    <h1>TF2 Stat Viewer</h1>
    <h2>View your personal TF2 stats</h2>
    <p>
        <%= typeof msg !='undefined' ? msg : '' %>
    </p>
    <form>
        <input type="text" id="steamid" name="steamid" placeholder="Enter your Steam name or Steam64 ID">
        <button type="submit" id="submit"
            onclick="window.location = window.origin + '/profile/' + steamid.value; return false;">Submit</button>
    </form>
    <br>
    <div style="display:<%= typeof playerStats == 'undefined' ? 'none' : 'block' %>" id="statsDiv">
        <canvas id="playtimeChart" width="750" height="750"></canvas>
    </div>
    <footer class="footer">
        <p>Made by kna27</p>
        <p>This site is not affiliated with Valve or its partners</p>
        <p>All images and logos on this site belong to their respective owners</p>
        <div id="links">
            <ul>
            <li><a href="#">Contact Me</a></li>
            <li><a href="#">Source Code</a></li>
            <li><a href="#">Suggest a Feature</a></li>
            <li><a href="#">Report a Bug</a></li>
        </ul>
        </div>
    </footer>
</body>
<script>
    let playtimeChartCanvas = document.getElementById("playtimeChart").getContext("2d");
    let playtimeChart = new Chart(playtimeChartCanvas, {
        type: "pie",
        data: {
            labels: [
                "Scout", "Soldier", "Pyro", "Demoman", "Heavy", "Engineer", "Medic", "Sniper", "Spy"
            ],
            datasets: [{
                data: [<%= typeof playerStats != 'undefined' ? playerStats['Scout.accum.iPlayTime'] : 0 %>,
                    <%= typeof playerStats != 'undefined' ? playerStats['Soldier.accum.iPlayTime'] : 0 %>,
                    <%= typeof playerStats != 'undefined' ? playerStats['Pyro.accum.iPlayTime'] : 0 %>,
                    <%= typeof playerStats != 'undefined' ? playerStats['Demoman.accum.iPlayTime'] : 0 %>,
                    <%= typeof playerStats != 'undefined' ? playerStats['Heavy.accum.iPlayTime'] : 0 %>,
                    <%= typeof playerStats != 'undefined' ? playerStats['Engineer.accum.iPlayTime'] : 0 %>,
                    <%= typeof playerStats != 'undefined' ? playerStats['Medic.accum.iPlayTime'] : 0 %>,
                    <%= typeof playerStats != 'undefined' ? playerStats['Sniper.accum.iPlayTime'] : 0 %>,
                    <%= typeof playerStats != 'undefined' ? playerStats['Spy.accum.iPlayTime'] : 0 %>],
                backgroundColor: [
                    'rgb(192,192,192)',
                    'rgb(0,0,255)',
                    'rgb(255,0,0)',
                    'rgb(255, 145, 0)',
                    'rgb(100, 0, 200)',
                    'rgb(255, 215, 0)',
                    'rgb(255, 0, 171)',
                    'rgb(0, 100, 0)',
                    'rgb(181, 100, 29)'
                ],
            }],

        },
        options: {
            responsive: false,
            title: {
                display: true,
                text: "Playtime by Class"
            }
        }
    });
</script>

</html>