<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
    <meta name="description" content="View your personal TF2 stats">
    <title>TF2 Stats</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>TF2 Stat Viewer</h1>
    <h2>View your personal TF2 stats</h2>
    <p>
        <%= typeof msg !='undefined' ? msg : '' %>
    </p>
    <form action="/stats" method="POST">
        <label for="steamid">Steam 64 ID</label>
        <input type="text" id="steamid" name="steamid">
        <button type="submit" id="submit">Submit</button>
    </form>
    <br>
    <div style="display:<%= typeof playerStats == 'undefined' ? 'none' : 'block' %>">
        <p>Scout Playtime: <%= typeof playerStats !='undefined' ? playerStats['Scout.accum.iPlayTime'] : '' %></p>
        <p>Soldier Playtime: <%= typeof playerStats !='undefined' ? playerStats['Soldier.accum.iPlayTime'] : '' %></p>
        <p>Pyro Playtime: <%= typeof playerStats !='undefined' ? playerStats['Pyro.accum.iPlayTime'] : '' %></p>
        <p>Demoman Playtime: <%= typeof playerStats !='undefined' ? playerStats['Demoman.accum.iPlayTime'] : '' %></p>
        <p>Heavy Playtime: <%= typeof playerStats !='undefined' ? playerStats['Heavy.accum.iPlayTime'] : '' %></p>
        <p>Engineer Playtime: <%= typeof playerStats !='undefined' ? playerStats['Engineer.accum.iPlayTime'] : '' %></p>
        <p>Medic Playtime: <%= typeof playerStats !='undefined' ? playerStats['Medic.accum.iPlayTime'] : '' %></p>
        <p>Sniper Playtime: <%= typeof playerStats !='undefined' ? playerStats['Sniper.accum.iPlayTime'] : '' %></p>
        <p>Spy Playtime: <%= typeof playerStats !='undefined' ? playerStats['Spy.accum.iPlayTime'] : '' %></p>
    </div>
</body>

</html>